// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Buttons
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//   - Primary
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<button class="button" type="button">
  <span class="button-body">
    <img class="button-icon" src="..." alt="Icon">
    <span class="button-text">...</span>
  </span>
</button>

<a class="button" href="#" target="...">
  <span class="button-body">
    <img class="button-icon" src="..." alt="Icon">
    <span class="button-text">...</span>
  </span>
</a>
*/

// Mixins
// ============================================================
@mixin button-variant(
  // Body
  $button-width: $button-width-default,
  $button-height: $button-height-default,
  $button-height-small: $button-height-sm,
  $button-height-large: $button-height-lg,
  $button-padding: 0 10px,
  $button-background-color: $color-gray-3,
  $button-border-width: 0,
  $button-border-color: transparent,
  $button-border-radius: $border-radius-xs,
  $button-box-shadow: 0 0 0 rgba(0, 0, 0, 0),

  // Body hover
  $button-background-color-hover: $color-gray-2,
  $button-border-width-hover: 0,
  $button-border-color-hover: transparent,

  // Text
  $button-text-style: $text-style-primary-body-sm,
  $button-text-style-small: $text-style-primary-body-xs,
  $button-text-style-large: $text-style-primary-body-lg,
  $button-text-color: $color-white-1,

  // Text hover
  $button-text-color-hover: $color-white-1,

  // Button icon
  $button-icon-spacing-right: 10px,
  $button-icon-spacing-left: 10px
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: inline-block;
  min-width: $button-width;
  height: $button-height;
  padding: $button-padding;
  background-color: $button-background-color;
  border-style: solid;
  border-width: $button-border-width;
  border-color: $button-border-color;
  border-radius: $button-border-radius;
  vertical-align: middle;
  box-shadow: $button-box-shadow;
  cursor: pointer;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .button-body {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .button-icon {
    display: inline-block;
    vertical-align: middle;

    &.is-text-left {
      margin-left: $button-icon-spacing-left;
    }

    &.is-text-right {
      margin-right: $button-icon-spacing-right;
    }
  }

  .button-text {
    @extend #{$button-text-style};
    color: $button-text-color;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>
  &:hover {
    background-color: $button-background-color-hover;
    border-width: $button-border-width-hover;
    border-color: $button-border-color-hover;
    text-decoration: none;

    .button-text {
      color: $button-text-color-hover;
    }
  }

  &:active,
  &:focus {
    box-shadow: $button-box-shadow;
  }

  &:focus {
    outline: none;
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  // Sizes
  &.is-size-sm {
    height: $button-height-small;

    .button-text {
      @extend #{$button-text-style-small};
    }
  }

  &.is-size-lg {
    height: $button-height-large;

    .button-text {
      @extend #{$button-text-style-large};
    }
  }

  // Structures
  &.is-flexible {
    min-width: 1px;
  }

  &.is-fluid {
    width: 100%;
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.button {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include button-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Primary
// ------------------------------------------------
.button-primary {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include button-variant(
    $button-background-color: $color-pink-1,
    $button-background-color-hover: $color-pink-2
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
