// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Medias
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Ratio 16:9
//   - Ratio 4:3
//   - Ratio 1:1 (Square)
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="media-16-9">
  <img src="..." alt="...">
</div>

<div class="media-16-9">
  <video controls>
    <source src="..." type="video/mp4">
  </video>
</div>

<div class="media-4-3 is-full-height">
  <img src="..." alt="...">
</div>

<div class="media-16-9 is-youtube">
  <iframe width="..." height="..." src="..." frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
*/

// Mixins
// ============================================================
@mixin media-variant(
  $image-height-ratio: 56.25% // 16:9
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  overflow: hidden;
  position: relative;
  padding-bottom: $image-height-ratio;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  img,
  iframe,
  video {
    @include translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: $z-index-1;
    max-width: none;
    width: 100%;
    height: auto;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  // this class use to fulfill image height in container but may have left-right spacing
  &.is-full-height {
    img,
    iframe,
    video {
      @include translateX(-50%);
      top: 0;
      left: 50%;
      width: auto;
      height: 100%;
    }
  }

  &.is-youtube {
    iframe {
      @include translateY(0);
      top: 0;
      height: 100%;
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// 16:9
// ------------------------------------------------
.media-16-9 {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include media-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// 4:3
// ------------------------------------------------
.media-4-3 {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include media-variant(
    $image-height-ratio: 75%
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// 1:1
// ------------------------------------------------
.media-square {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include media-variant(
    $image-height-ratio: 100%
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-circle {
    border-radius: 50%;
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
