// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Variables
// * Path files
// * Colors
// * Font families
// * Font sizes
// * Line heights
// * Letter spacings
// * Text styles
// * Z indexs
// * Breakpoints (Physical width of device screen)
// * Animation timings
// * Border radiuses
// * Box shadows
// * Component widths
// * Component heights
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Path files
// ============================================================
$path-file-images: '../images' !default;
$path-file-fonts: '../fonts' !default;
$path-file-fonts-primary-medium: '../fonts/maitree/maitree-medium' !default;
$path-file-fonts-primary-bold: '../fonts/maitree/maitree-bold' !default;
$path-file-contents: '../images/contents' !default;
$path-file-icons: '../images/icons' !default;
$path-file-logos: '../images/logos' !default;

// Colors
// ============================================================
$color-white-1: #FFFFFF !default;
$color-gray-1: #999999 !default;
$color-gray-2: #666666 !default;
$color-gray-3: #333333 !default;
$color-gray-4: #111111 !default;
$color-red-1: #FF0000 !default;
$color-pink-1: #FF5684 !default;
$color-pink-2: #F97FA0 !default;
$color-blue-1: #08AAF1 !default;
$color-blue-2: #00C9CC !default;
$color-blue-3: #141C41 !default;

// Font families
// ============================================================
$font-family-primary-medium: Maitree-Medium !default;
$font-family-primary-bold: Maitree-Bold !default;

// Font sizes
// ============================================================
// Primary body
$font-size-primary-body-xs: 12px !default;
$font-size-primary-body-sm: 14px !default;
$font-size-primary-body-md: 16px !default;
$font-size-primary-body-lg: 18px !default;
$font-size-primary-body-xl: 20px !default;

// Primary heading
$font-size-primary-heading-xs: 24px !default;
$font-size-primary-heading-sm: 28px !default;
$font-size-primary-heading-md: 32px !default;
$font-size-primary-heading-lg: 36px !default;
$font-size-primary-heading-xl: 48px !default;

// Line heights
// ============================================================
$line-height-primary-body: 1.3 !default;
$line-height-primary-heading: 1.3 !default;

// Letter spacings
// ============================================================
$letter-spacing-primary-body: normal !default;
$letter-spacing-primary-heading: normal !default;

// Text styles
// your stylesheets. Example: @extend #{$text-style-primary-body-xs};
// ============================================================
// Primary body
$text-style-primary-body-xs: '.text-primary-body-xs' !default;
$text-style-primary-body-sm: '.text-primary-body-sm' !default;
$text-style-primary-body-md: '.text-primary-body-md' !default;
$text-style-primary-body-lg: '.text-primary-body-lg' !default;
$text-style-primary-body-xl: '.text-primary-body-xl' !default;
$text-style-primary-body-xs-bold: '.text-primary-body-xs-bold' !default;
$text-style-primary-body-sm-bold: '.text-primary-body-sm-bold' !default;
$text-style-primary-body-md-bold: '.text-primary-body-md-bold' !default;
$text-style-primary-body-lg-bold: '.text-primary-body-lg-bold' !default;
$text-style-primary-body-xl-bold: '.text-primary-body-xl-bold' !default;

// Primary Heading
$text-style-primary-heading-xs: '.text-primary-heading-xs' !default;
$text-style-primary-heading-sm: '.text-primary-heading-sm' !default;
$text-style-primary-heading-md: '.text-primary-heading-md' !default;
$text-style-primary-heading-lg: '.text-primary-heading-lg' !default;
$text-style-primary-heading-xl: '.text-primary-heading-xl' !default;
$text-style-primary-heading-xs-bold: '.text-primary-heading-xs-bold' !default;
$text-style-primary-heading-sm-bold: '.text-primary-heading-sm-bold' !default;
$text-style-primary-heading-md-bold: '.text-primary-heading-md-bold' !default;
$text-style-primary-heading-lg-bold: '.text-primary-heading-lg-bold' !default;
$text-style-primary-heading-xl-bold: '.text-primary-heading-xl-bold' !default;

// Z indexs
// ============================================================
$z-index-1: 1 !default;
$z-index-2: 9 !default;
$z-index-3: 99 !default;
$z-index-4: 999 !default;
$z-index-5: 9999 !default;

// Breakpoints (Physical width of device screen)
// ============================================================
// Mobile
$breakpoint-mobile-xs: 320px !default;
$breakpoint-mobile-sm: 360px !default;
$breakpoint-mobile-md: 375px !default;
$breakpoint-mobile-lg: 414px !default;

// Phablet
$breakpoint-phablet-xs: 480px !default;
$breakpoint-phablet-sm: 640px !default;
$breakpoint-phablet-md: 667px !default;
$breakpoint-phablet-lg: 736px !default;

// Tablet
$breakpoint-tablet-xs: 768px !default;
$breakpoint-tablet-sm: 800px !default;
$breakpoint-tablet-md: 812px !default;
$breakpoint-tablet-lg: 1024px !default;

// Desktop
$breakpoint-desktop-xs: 1280px !default;
$breakpoint-desktop-sm: 1366px !default;
$breakpoint-desktop-md: 1440px !default;
$breakpoint-desktop-lg: 1600px !default;
$breakpoint-desktop-xl: 1920px !default;
$breakpoint-desktop-xxl: 2560px !default;

// Mobile max
$breakpoint-mobile-xs-max: ($breakpoint-mobile-sm - 1px) !default;
$breakpoint-mobile-sm-max: ($breakpoint-mobile-md - 1px) !default;
$breakpoint-mobile-md-max: ($breakpoint-mobile-lg - 1px) !default;
$breakpoint-mobile-lg-max: ($breakpoint-phablet-xs - 1px) !default;

// Phablet max
$breakpoint-phablet-xs-max: ($breakpoint-phablet-sm - 1px) !default;
$breakpoint-phablet-sm-max: ($breakpoint-phablet-md - 1px) !default;
$breakpoint-phablet-md-max: ($breakpoint-phablet-lg - 1px) !default;
$breakpoint-phablet-lg-max: ($breakpoint-tablet-xs - 1px) !default;

// Tablet max
$breakpoint-tablet-xs-max: ($breakpoint-tablet-sm - 1px) !default;
$breakpoint-tablet-sm-max: ($breakpoint-tablet-md - 1px) !default;
$breakpoint-tablet-md-max: ($breakpoint-tablet-lg - 1px) !default;
$breakpoint-tablet-lg-max: ($breakpoint-desktop-xs - 1px) !default;

// Desktop max
$breakpoint-desktop-xs-max: ($breakpoint-desktop-sm - 1px) !default;
$breakpoint-desktop-sm-max: ($breakpoint-desktop-md - 1px) !default;
$breakpoint-desktop-md-max: ($breakpoint-desktop-lg - 1px) !default;
$breakpoint-desktop-lg-max: ($breakpoint-desktop-xl - 1px) !default;
$breakpoint-desktop-xl-max: ($breakpoint-desktop-xxl - 1px) !default;

// Animation timings
// ============================================================
$animation-timing-elastic: cubic-bezier(.835, -.005, .06, 1) !default;

// Border radiuses
// ============================================================
$border-radius-xs: 3px !default;
$border-radius-sm: 5px !default;
$border-radius-lg: 20px !default;

// Box shadows
// ============================================================
$box-shadow-1: 0 5px 5px rgba(0, 0, 0, 0.5) !default;

// Component widths
// ============================================================
$field-width-default: 250px !default;
$button-width-default: 150px !default;

// Component heights
// ============================================================
$field-height-default: 36px !default;
$button-height-default: 36px !default;
$button-height-sm: 28px !default;
$button-height-lg: 48px !default;
