// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Variables for English laguage
// * Path files
// * Font families
// * Font sizes
// * Line heights
// * Letter spacings
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Path files
// ============================================================
$path-file-fonts-primary-medium: '../fonts/roboto-slab/roboto-slab-regular';
$path-file-fonts-primary-bold: '../fonts/roboto-slab/roboto-slab-bold';

// Font families
// ============================================================
$font-family-primary-medium: Roboto-Slab-Regular;
$font-family-primary-bold: Roboto-Slab-Bold;

// Font sizes
// ============================================================
// Primary body
$font-size-primary-body-xs: 12px;
$font-size-primary-body-sm: 14px;
$font-size-primary-body-md: 16px;
$font-size-primary-body-lg: 18px;
$font-size-primary-body-xl: 20px;

// Primary heading
$font-size-primary-heading-xs: 24px;
$font-size-primary-heading-sm: 28px;
$font-size-primary-heading-md: 32px;
$font-size-primary-heading-lg: 36px;
$font-size-primary-heading-xl: 48px;

// Line heights
// ============================================================
$line-height-primary-body: 1.3;
$line-height-primary-heading: 1.3;

// Letter spacings
// ============================================================
$letter-spacing-primary-body: normal;
$letter-spacing-primary-heading: normal;
