// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Card
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//   - Primary
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="card">
  <div class="card-header">
    <div class="card-image">
      <div class="media-16-9">
        <img src="./assets/images/contents/home-banner.jpg" alt="Cover">
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="card-title">
      <h2>Japanese Nadeshiko</h2>
    </div>
    <div class="card-description">
      <p>a japanese term used to praise the unadorned, clean beauty of a japanese woman</p>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-button">
      <a class="button-primary" href="#" target="_blank">
        <span class="button-body">
          <span class="button-text">See detail</span>
        </span>
      </a>
    </div>
  </div>
</div>
*/

// Mixins
// ============================================================
@mixin card-variant(
  $card-background-color: transparent,
  $card-border-radius: $border-radius-sm,
  $card-go-border-radius: $border-radius-lg,
  $card-box-shadow: none,

  // Header
  $card-header-padding: 0,
  $card-header-spacing-side: 20px,
  $card-header-spacing-bottom: 15px,

  // Body
  $card-body-padding: 0,
  $card-body-spacing-bottom: 20px,
  $card-height-default: 360px,

  // Footer
  $card-footer-padding: 0,
  $card-footer-alignment-horozontal: flex-start,

  // Image
  $card-image-spacing-bottom: 0,

  // Title
  $card-title-spacing-bottom: 10px,
  $card-title-text-style: $text-style-primary-heading-xs-bold,
  $card-title-text-color: $color-gray-4,

  // Description
  $card-description-spacing-bottom: 0,
  $card-description-text-style: $font-size-primary-body-md,
  $card-description-text-color: $color-gray-3,
  $card-description-background-color: $color-white-1
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  background-color: $card-background-color;
  box-shadow: $card-box-shadow;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .route-header {
    padding: $card-header-spacing-side;
    margin: $card-header-padding;
    background-image: url('https://media.cntraveler.com/photos/5acce5d2070ad55df829cf6e/4:3/w_480,c_limit/GettyImages-597062183.jpg'); background-repeat: no-repeat; 
    width: 100%;
    height: $card-height-default;
    border-radius: $card-border-radius $card-border-radius 0 0;
    font-size: $font-size-primary-heading-md;
  }

  .card-body {
    padding: $card-body-padding;
    margin-bottom: $card-body-spacing-bottom;
  }

  .card-footer {
    display: flex;
    justify-content: $card-footer-alignment-horozontal;
    padding: $card-footer-padding;
  }

  .card-image {
    margin-bottom: $card-image-spacing-bottom;
  }

  .card-title {
    margin-bottom: $card-title-spacing-bottom;

    * {
      @extend #{$card-title-text-style};
      color: $card-title-text-color;
    }
  }

  .route-wishlist {
    float: right;
  }

  .route-title {
    clear: both;
    position: absolute;
    bottom: 50px;
    @extend #{$card-title-text-style};
    display: block;
  }

  .route-description {
    margin-bottom: $card-description-spacing-bottom;
    background: $card-description-background-color;
    border-radius: 0 0 $card-border-radius $card-border-radius;
    color: $card-description-text-color;
    padding: $card-header-spacing-side;
  }

  .route-steps {
    color: $color-blue-1;
    float: left;
  }

  .route-go {
    float: right;
    position: relative;
    top: -40px;
    background-color: $color-blue-1;
    border-radius: $card-go-border-radius;
    padding: $card-title-spacing-bottom;
    color: $color-white-1;
  }

  .route-detail {
    clear: both;
  }

  .card-button {
    display: inline-block;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.route {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include card-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  margin: 30px;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

.route-profile {
  float: left;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $color-white-1;
    li {
      display: inline-block;
    &:first-child {
      margin-right: -20px;
      position: relative;
      z-index: 3;
    }
    &:nth-child(2) {
      margin-right: -20px;
      position: relative;
      z-index: 2;
    }
    &:nth-child(3) {
      position: relative;
      z-index: 1;
    }
      a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
      }
    }
  }
}

.route-timer {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $color-gray-1;
    li {
      display: inline-block;
      padding: 20px 20px 10px 0;
    }
  }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Primary
// ------------------------------------------------
.card-primary {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include card-variant(    $card-background-color: $color-gray-1,
    $card-border-radius: $border-radius-sm,
    $card-box-shadow: $box-shadow-1,

    // Body
    $card-body-padding: 0 20px,

    // Footer
    $card-footer-padding: 0 20px 20px 20px,
    $card-footer-alignment-horozontal: flex-end,

    // Title
    $card-title-text-color: $color-white-1,

    // Description
    $card-description-text-color: $color-white-1
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
